﻿
@model WebApplication1.ViewModels.BMIData

<h2>Index</h2>
<p> BMI = 體重 (kg) / 身高 (m2)</p>
<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)<br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)<br />



    <p><input type="submit" value="送出" /></p>
</form>

<p>計算結果：@Model.BMI </p>
<p>等級：@Model.Level </p>
