﻿
@{
    ViewBag.Title = "Index";
}

<h2>Html</h2>

<p>姓名 : <input type="text" name="name" value="" /></p>
<p>帳號 : <input type="text" name="name" value="" /></p>
<p>密碼 : <input type="password" name="name" value="" /></p>
<p>
    性別 :
    <input type="radio" name="gender" value="A" />男
    <input type="radio" name="gender" value="B" />女
</p>
<p>
    興趣 :
    <input type="checkbox" name="hobby-1" value="A" />游泳
    <input type="checkbox" name="hobby-2" value="B" />閱讀
    <input type="checkbox" name="hobby-3" value="C" />看電影
</p>
<p>自我介紹 : <textarea></textarea></p>


