﻿
@{
    ViewBag.Title = "HTMLhelper";
}

<h2>HTMLhelper</h2>

<p>姓名 : @Html.TextBox("name", "")</p>
<p>帳號 : @Html.TextBox("account", "")</p>
<p>密碼 : @Html.Password("password", "")</p>

<p>
    性別 :
    @Html.RadioButton("gender", "0") 男
    @Html.RadioButton("gender", "1")女
    
</p>
<p>
    興趣 :
    @Html.CheckBox("hobby-1", false)游泳
    @Html.CheckBox("hobby-2", false)閱讀
    @Html.CheckBox("hobby-3", false)看電影
</p>
<p>

    自我介紹 : @Html.TextArea("habit")
</p>
